# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# =========================
# Ambiente virtual
# =========================
venv/
.env/
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Banco Local
# =========================
yamaha.db

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp

# =========================
# Uploads futuros
# =========================
uploads/

# =========================
# Render
# =========================
.render